<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {%for message in messages%}
            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
            {%endfor%}
        </ul>
        {% endif %}
        <div>
            <h1>Welcome {{member.first_name}}</h1>
            <a href="/userList/{{member.id}}">Click here to view all of your favorited books</a>
            <a href="/logout"><u>Logout</u></a>
        </div>
        <div>
            <h3>Add Favorite Books</h3>
            <form action="/addBook/{{user.id}}" method="POST">
                {% csrf_token %}
                <span>Book Title: </span><input type="text" name="title">
                <span>Description: </span><textarea cols="50" rows="3" name="description"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
        <div>
            <h3>All Books</h3>
            {% for book in books %}
            <ul>
                <li><a href="/bookDesc/{{book.id}}/{{member.id}}"><u>{{book.title}}</u></a></li>
                <li>added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</li>
                {%if book in all_liked_books%}
                <li><i>This is one of your favorites</i></li>
                <a href="/removeFav/{{book.id}}/{{member.id}}"><u>Unfavorite</u></a>
                {%endif%}
                {%if book in unliked_books%}
                <li><a href="/addFav/{{book.id}}/{{member.id}}">Add to favorites</a></li>
                {%endif%}
                
            </ul>
            {% endfor %}
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>